.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 5%;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(242,242,242,1) 50%, rgba(233,233,233,1) 100%);
  &__topheader {
    color: $black-text;
    font-size: $font-xlg;
    font-weight: 900;
    letter-spacing: 1px;
    color: $black-text;
    margin: 40px 0 40px 0;
  }
  &__wrapper {
    width: 100%;
    background-color: whitesmoke;
    padding: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    width: 100%;
    background-color: transparent;
    max-width: 950px;
    @include breakpoint-down(small) {
      max-width: 100%;
    }
  }
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    @include breakpoint-down(small) {
      flex-direction: column;
    }
  }
  h3 {
    color: grey;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  h4 {
    align-self: flex-start;
    margin-left: 10px;
    text-transform: capitalize;
  }
  &__shipping,
  &__billing,
  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 10px;
    @include breakpoint-down(small) {
      width: 100%;
    }
  }
  &__shipping div,
  &__shipping input,
  &__shipping select,
  &__billing div,
  &__billing input,
  &__billing select {
    max-width: 450px;
    width: 100%;
    height: 32px;
    @include breakpoint-down(small) {
      max-width: 100%;
    }
  }
  &__shipping .checkout__h4,
  &__billing .checkout__h4 {
    height: auto;
  }
  &__shipping,
  &__billing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      padding: 0 10px;
      border: 1px solid rgb(197 197 197);
      &:focus {
        outline: 1px solid $grey-text;
      }
      &::placeholder {
        color: grey;
      }
    }
    select {
      padding: 0 10px;
      -webkit-appearance: none;
      appearance: none;
      background-color: white;
      cursor: pointer;
      border: 1px solid rgb(197 197 197);
      &:focus {
        outline: 1px solid $grey-text;
      }
    }
  }
  &__state,
  &__country {
    position: relative;
    &::after {
      content: "⌄";
      font-size: 20px;
      top: 0px;
      right: 10px;
      color: $black-text;
      position: absolute;
      pointer-events: none;
    }
  }
  &__shipping .checkout__shipping-method {
    height: auto;
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      border: 1px solid rgb(197 197 197);
    }
    legend {
      color: grey;
      text-align: center;
    }
    label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    input {
      max-width: auto;
      width: auto;
      margin-right: 10px;
      outline: none;
    }
  }
  // BILLING
  &__billing {
    @include breakpoint-down(small) {
      margin-top: 40px;
    }
  }
  &__billing .checkout__card-info {
    height: auto;
    div {
      height: auto;
    }
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 10px;
      border: 1px solid rgb(197 197 197);
      gap: 10px;
      padding: 10px;
    }
    legend {
      color: grey;
      text-align: center;
    }
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      span {
        align-self: flex-start;
        margin-left: 10px;
      }
    }
    input {
      max-width: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__payment-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: rgb(0 45 90);
    p {
      flex: 1;
    }
    img {
      width: 30px;
      height: 30px;
      margin: 5px 0 5px 5px;
    }
  }
  &__billing .checkout__addressmsg,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
    height: auto;
    h4 {
      margin-left: 0px;
    }
    label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
    input {
      width: auto;
      outline: none;
    }
  }
  &__footer {
    margin-top: 20px;
    width: 100%;
    align-items: flex-end;
  }
  // SUMMARY
  &__summary {
    padding: 10px;
    gap: 10px;
    margin-top: 40px;
    width: 100%;
    span {
      color: #4c4c4c;
      font-weight: 900;
    }
  }
  &__table {
    width: 100%;
    background-color: #e5e5e5;
    text-align: center;
    @include breakpoint-down(xx-small) {
      font-size: $font-xsm;
    }
    th,
    td {
      padding: 5px;
    }
    td {text-align: left;}
    thead {
      background-color: rgb(214 214 214);
      tr {
        :nth-child(even) {
          min-width: 100px;
        }
        :nth-child(odd) {
          width: 15%;
          max-width: 90px;
        }
      }
    }
  }
  &__table-totals {
    :first-child {
      text-align: right;
      font-weight: 900;
    }
  }
  &__table-totals.first-totals {
    td {
      padding-top: 20px;
    }
  }
  &__table-totals.last-totals {
    td {
      padding-bottom: 10px;
    }
  }
  :first-child.checkout__item {
    td {
      padding-top: 10px;
    }
  }
  &__item {
    word-break: break-word;
    :first-child {
      text-align: center;
    }
  }
  input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 40%;
    background-color: $green-button;
    align-self: flex-end;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    color: $white-text;
    font-size: $font-xsm;
    transition: opacity 0.2s;
    transition-timing-function: linear;
    margin-top: 20px;
    @include breakpoint-down(small) {
      width: 100%;
    }
    &:hover {
      opacity: 1;
    }
  }
  &__submitloading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 40%;
    background-color: $green-button;
    align-self: flex-end;
    border: none;
    cursor: wait;
    opacity: 0.8;
    text-decoration: none;
    color: $white-text;
    font-size: $font-xsm;
    transition: opacity 0.2s;
    transition-timing-function: linear;
    margin-top: 20px;
    p {
      margin-left: 10px;
    }
    @include breakpoint-down(small) {
      width: 100%;
    }
  }
}