html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: sans-serif;
  font-size: $font-sm;
  color: black;
  background-color: whitesmoke;
  width: 100%;
  min-width: 320px;

  #root {
    position: relative;
    min-height: 100vh;
    width: 100%;
    
    main {
      width: 100%;
    }
  }
}