.root-header {
  height: 100%;
  min-width: 100%;
  width: 100%;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90000;
  box-shadow: 0 0 10px black;

  .header-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5% 0px 5%;
    min-width: min-content;
  }

}

.header-logo {
  flex: 1;
  z-index: 999999;

  .logo-container,
  .home-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 60px;
    cursor: pointer;
    
    .logo-gif-container,
    .logo-wordmark-container {
      height: 100%;
      width: fit-content;
      min-width: max-content;
      padding: 5px;
    }
    .logo-gif-container {
      padding-right: 0px;
      padding-left: 0px;
      
      @include breakpoint-down(xx-small) {
        display: none;
      }
    }
    .logo-wordmark-container {
      padding-left: 0px;
    }
    .logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .logo-gif {
      padding: 6.5px 0px 6.5px 0px;
    }
  }
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: $font-sm;

  @include breakpoint-down(small) {
    display: none;
  }

  .link-container {
    height: 100%;
    margin: 0 4vw 0 0;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      cursor: pointer;
      text-decoration: none;
      font-family: 'Spectral', serif;
      color: #252525;
    }
  }
}

.header-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 999999;

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    .icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .icon-search {
      padding: 1px;
    }
  }

  .header-controls__search,
  .header-controls__cart {
    width: 24px;
    margin-right: 1rem;
  }

  .header-controls__nav {
    border: none;
    background: none;
    .icon-1, .icon-2, .icon-3 {
      width: 24px;
      height: 3px;
      background-color: #000000;
      border-radius: 5px;
    }
  
    .hamburger-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3px;
      cursor: pointer;
      // &:hover {
      //   transform: scale(1.2);
      //   box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
      // }
    }
  }
}

nav {
  margin-left: auto;
  display: none;
  ul {
    display: flex;
    padding-top: 60px;
    right: 0;
    position: absolute;
    top: 0;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    min-width: 300px;
    background-color: rgb(29 29 29);
    border-top: 1px solid black;
    @include breakpoint-down(small) {
      width: 100%;
      min-width: 100%;
    }
    // @include breakpoint-down(small) {
    //   position: absolute;
    //   top: 60px;
    //   left: 0;
    //   flex-direction: column;
    //   width: 100%;
    //   height: calc(100vh - 60px);
    //   background-color: #003dffc2;
    //   border-top: 1px solid black;
    // }
  }
  li {
    list-style-type: none;
    margin: 0 1rem;
    text-align: center;
    margin: 0;
    // @include breakpoint-down(small) {
    //   text-align: center;
    //   margin: 0;
    // }
  }
  li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
    width: 100%;
    padding: 1.5rem 0;
    color: white;
    // @include breakpoint-down(small) {
    //   color: black;
    //   width: 100%;
    //   padding: 1.5rem 0;
    //   color: white;
    // }
  }
}
nav.expanded {
  display: block;
  // @include breakpoint-down(small) {
  //   display: block;
  // }
}
.header-controls.expanded {
  filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(219deg) brightness(104%) contrast(105%);
}
.header-links.expanded {
  display: none;
}
.header-logo.expanded {
  @include breakpoint-down(small) {
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(219deg) brightness(104%) contrast(105%);
  }
}