.root-header {
  height: 100%;
  min-width: 100%;
  width: 100%;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90000;
  box-shadow: 0 0 10px black;

  .header-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5% 0px 5%;
    min-width: min-content;
  }

}

.header-logo {
  flex: 1;
  z-index: 999999;
  .logo-container,
  .home-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 60px;
    cursor: pointer;
    
    .logo-gif-container,
    .logo-wordmark-container {
      height: 100%;
      width: fit-content;
      min-width: max-content;
      padding: 5px;
    }
    .logo-gif-container {
      padding-right: 0px;
      padding-left: 0px;
      
      @include breakpoint-down(xx-small) {
        display: none;
      }
    }
    .logo-wordmark-container {
      padding-left: 0px;
    }
    .logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .logo-gif {
      padding: 6.5px 0px 6.5px 0px;
    }
  }
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: $font-sm;
  transition: opacity 0.5s ease-in;
  @include breakpoint-down(small) {
    display: none;
  }

  .link-container {
    height: 100%;
    margin: 0 4vw 0 0;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      cursor: pointer;
      text-decoration: none;
      font-family: 'Spectral', serif;
      color: #252525;
    }
  }
}

.header-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 999999;
  transition: filter 0.5s ease-in;
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    .icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .icon-search {
      padding: 1px;
    }
  }

  .header-controls__search,
  .header-controls__cart {
    width: 24px;
    margin-right: 1rem;
  }
  .header-controls__search {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: opacity 0.5s ease-in;
  }

  .header-controls__nav {
    border: none;
    background: none;
    .icon-1, .icon-2, .icon-3 {
      width: 24px;
      height: 3px;
      background-color: #000000;
      border-radius: 5px;
      transition: transform 0.5s ease-in;
    }
  
    .hamburger-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3px;
      cursor: pointer;
    }
  }
}

nav {
  margin-left: auto;
  visibility: hidden;
  transition: visibility 0.5s ease-in;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  .nav-link-header {
    font-size: $font-med;
    font-family: 'Spectral', serif;
    padding-top: 30px;
    color: $white-text;
    &:hover {
      color: #ffffff;
      text-shadow: 0 0 1px rgb(255, 255, 255);
    }
  }
  ul {
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    padding: 60px 0;
    right: 0;
    position: fixed;
    top: 0;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    min-width: 300px;
    background-color: rgb(29 29 29);
    border-top: 1px solid black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: $font-xsm;
    @include breakpoint-down(small) {
      width: 100%;
      min-width: 100%;
    }
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  li {
    list-style-type: none;
    text-align: center;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    text-align: left;
    padding: 0 15%;
  }
  li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    color: $grey-text-light;
    &:hover {
      color: rgb(178, 178, 178);
    }
  }
}
nav.expanded {
  visibility: visible;
  ul {
    transform: translateX(0%);
    :nth-child(1) {
      animation: navLinkFade 0.5s ease forwards calc(1 / 7 )+ 0.3s;
    }
    :nth-child(2) {
      animation: navLinkFade 0.5s ease forwards calc(2 / 7 )+ 0.3s;
    }
    :nth-child(3) {
      animation: navLinkFade 0.5s ease forwards calc(3 / 7 )+ 0.3s;
    }
    :nth-child(4) {
      animation: navLinkFade 0.5s ease forwards calc(4 / 7 )+ 0.3s;
    }
    :nth-child(5) {
      animation: navLinkFade 0.5s ease forwards calc(5 / 7 )+ 0.3s;
    }
    :nth-child(6) {
      animation: navLinkFade 0.5s ease forwards calc(6 / 7 )+ 0.3s;
    }
    :nth-child(7) {
      animation: navLinkFade 0.5s ease forwards calc(7 / 7 )+ 0.3s;
    }
  }
}
.header-controls.expanded {
  filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(219deg) brightness(104%) contrast(105%);
  .icon-1 {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
  }
  .icon-2 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
  }
  .icon-3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.header-links.expanded,
.header-controls__search.expanded {
  opacity: 0;
  pointer-events: none;
}
.header-logo.expanded {
  @include breakpoint-down(small) {
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(219deg) brightness(104%) contrast(105%);
    background: hsl(0deg 0% 87%);
  }
}
@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

.search-bar {
  margin-left: auto;
  visibility: hidden;
  transition: visibility 0.5s ease-in;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  .search-bar__container {
    display: flex;
    padding: 60px 0;
    right: 0;
    position: fixed;
    top: 0;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    min-width: 300px;
    background-color: rgb(29 29 29);
    border-top: 1px solid black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: $font-xsm;
    @include breakpoint-down(small) {
      width: 100%;
      min-width: 100%;
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: 20px;

    span {
      color: $grey-text-light;
    }
  }
  &__result::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
    color: $white-text;
    font-size: $font-sm;
    white-space: break-spaces;
    color: #ffcf27;
    color: #cda002;
    color: #eeeeee;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  h3 {
    color: $white-text;
    margin-top: 30px;
    margin-left: 20px;
    font-size: $font-xsm;
  }
  form {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }
  .fa-search {
    font-size: $font-sm;
    color: $white-text;
    font-size: $font-sm;
    width: auto;
    padding: 0 20px;
    border: 2px solid $grey-text-light;
    border-right: none;
    border-left: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input[type = "submit"] {
    font-family: 'Montserrat', sans-serif;
    font-family: 'FontAwesome';
    font-size: $font-sm;
    color: $grey-text-light;
    background: $grey-text-light;
    cursor: pointer;
    border: 2px solid $grey-text-light;
    border-right: none;
    border-left: none;
    background: transparent;
    width: auto;
    padding: 0 20px;
    height: 50px;
    &:hover {
      font-weight: 900;
      color: $white-text;
    }
  }
  input[type = "text"] {
    flex: 1;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-sm;
    padding: 0 20px;
    color: $white-text;
    background: transparent;
    border: 2px solid $grey-text-light;
    border-right: none;
    border-left: none;
    height: 50px;
    &:hover {
      background: hsl(0, 0%, 6%);
    }
    &:focus {
      outline: none;
      background: hsl(0, 0%, 6%);
    }
    &::placeholder {
      color: $grey-text-light;
    }
  }
}

.search-bar.expanded {
  visibility: visible;
  .search-bar__container {
    transform: translateX(0%);
  }
}

