// SHOP SUBHEADER
.root-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  height: calc(100vh - 60px);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/images/shop/ponyo-scene.jpg);
  transition: ease all .5s;

  &__container {
    flex-direction: column;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, hsl(0deg 0% 0% / 35%) 0%, hsl(210deg 100% 10% / 76%) 100%);
    background-attachment: fixed;
    background-position: center center;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Spectral', serif;
    color: #f5f5f5;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    transition: ease all .5s;
    padding: 0 10px 0 10px;
    width: 100%;

    @include breakpoint-up(x-large) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    @include breakpoint-down(x-small) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

//SHOP FEATURED FILM
.shop-featured-film {
  min-height: 200px;
  height: calc(100vh - 50vh - 60px);
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease all .5s;
  color: $black-text;

  @include breakpoint-down(small) {
    height: calc(100vh - 30vh - 60px);
  }

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 100%;
    padding: 10px;
    gap: 15px;
    @include breakpoint-down(small) {
      justify-content: space-evenly;
    }
    @include breakpoint-down(x-small) {
      justify-content: space-evenly;
    }
    @include breakpoint-down(xx-small) {
      flex-direction: column;
      gap: 0px;
    }
    // FEATURED FILM-IMAGE
    .shop-featured-film__img-container {
      height: 100%;
      width: 25%;
      filter: grayscale(100%);
      @include breakpoint-down(x-small) {
        width: 25%;
      }
      @include breakpoint-down(xx-small) {
        width: 100%;
        height: 25%;
      }
      .shop-featured-film__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    // FEATURED FILM
    .shop-featured-film__film {
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      @include breakpoint-up(x-large) {
        gap: 10px;
      }
      @include breakpoint-down(x-small) {
        width: 75%;
      }
      @include breakpoint-down(xx-small) {
        width: 100%;
        height: 75%;
      }
      .shop-featured-film__title{
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2.5px;
        align-self: flex-start;
        font-weight: 100;
        font-size: $font-xsm;
        @include breakpoint-up(x-large) {
          font-size: $font-sm;
        }
      }
      .shop-featured-film__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 5px;

        .shop-featured-film-film-title {
          font-family: 'Montserrat', sans-serif;
          font-size: $font-xlg;
          align-self: flex-start;
          font-weight: 500;
          color: #16008f;
          @include breakpoint-down(large) {
            font-size: $font-lg;
          }
        }
        .shop-featured-film__description{
          font-family: 'Spectral', serif;
          font-size: $font-xsm;
          font-size: $font-sm;
          @include breakpoint-up(x-large) {
            font-size: $font-med;
          }
          @include breakpoint-down(x-small) {
            font-size: $font-sm;
          }
        }
      }
      .shop-featured-film__button {
        background-color: $yellow-button;
        align-self: flex-start;
        border: none;
        font-family: 'Montserrat', sans-serif;
        height: 40px;
        width: 120px;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s;
        transition-timing-function: linear;
        @include breakpoint-down(xx-small) {
          align-self: center;
        }
        &:hover {
          opacity: 1;
        }
        :only-child {
          text-decoration: none;
          color: $white-text;
          font-size: $font-xsm;
        }

      }
    }
  }
}

// TOP RATED FILMS
.top-rated-films {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 5% 10px 5%;
  padding: 5%;
  background-color: white;
  background: rgb(213,213,213);
  background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(242,242,242,1) 50%, rgba(233,233,233,1) 100%);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
  }
  &__header {
    font-size: $font-xlg;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0 0 0;
    font-family: 'Spectral', serif;
    color: $grey-text-light;
    width: 100%;
    text-align: center;
    @include breakpoint-down(small) {
      font-size: $font-lg;
    }
  }
  &__films {
    padding: 0 5%;
    @include breakpoint-down(xx-small) {
      padding: 0 0;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      list-style-type: none;
      gap: 10px;
      margin: 30px 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: white;
          transform: scale(1.01);
          box-shadow: 0 0 10px #acacac;
        }
      }
      a {
        text-decoration: none;
        max-width: 200px;
        min-width: 200px;
        margin: 10px;
      }
      figure {
        width: 100%;
      }
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      figcaption{

      }
      dl{
        color: $black-text;
        font-family: 'Montserrat', sans-serif;
        font-size: $font-sm;
        :first-child {
          font-size: $font-xsm;
          color: $yellow-button;
        }
        :nth-child(2) {
          font-weight: 900;
        }
        dd{
          font-family: 'Spectral', serif;
          font-size: $font-xsm;
          color: $grey-text;
        }
      }

    }
  }


}

