// COLORS
// Primary-colors
$color-primary-700: #00afc8;
//FONT SIZES
$font-xsm: 0.75rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 2rem;

//TEXT
$black-text: #252525;
$blue-text-dark: #16008f;
$yellow-text-dark: #d2b320;
$white-text: #f5f5f5;
$grey-text: #363636;
$grey-text-light: #8b8b8b;

//BUTTON
$red-button: #8f0000;
$yellow-button: #8f6f00;

//BACKGROUND
$light-grey-background: #f6f6f6;

